<main>
  <div class="main-inner">

    <label>Raw</label>
    <div>
      <textarea [(ngModel)]="mainRawText"></textarea>
      <div class="buttons">
        <button (click)="clearMain()">clear</button>
        <button (click)="submitMain()">submit</button>
      </div>
    </div>

    <div>
      <img [src]="'http://yuml.me/diagram/scruffy/class/' + diagram()">
    </div>

    <label>UML</label>
    <div>
      <textarea [(ngModel)]="testRawText"></textarea>
      <div class="buttons">
        <button (click)="clearTest()">clear</button>
        <button (click)="submitTest()">submit</button>
      </div>
    </div>
  </div>
  
</main>

@if (errors().length) {
  <div class="errors">
    @for (error of errors(); track $index) {
      <div class="error">{{ error }}</div>
    }
  </div>
}
