main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;

    .main-inner {
        textarea {
            width: 100%;
        }

        .buttons {
            text-align: right;

            button {
                padding: 5px 10px;
                margin-left: 10px;
                font-size: 13px;
            }
        }

        img {
            margin-top: 10px;
            width: 100%;
            max-height: 500px;
        }
    }

    .errors {
        position: fixed;
        bottom: 0;
        background-color: red;
        color: #FFF;
    }
}
